<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SOTS - V1</title>
    <link href='game/core.css' rel='stylesheet' type='text/css'>
    <link href='ui/style.css' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Root housing for entire app -->
	<div class="container text-center">
		<!-- Usually ng-app would suffice here, but wish to wait and load manually -->
		<div id="ui" class="row">

			<!-- Needs to be placed in a directive template -->
			<div id="all-data" class="col-md-12" ng-controller="UIControl as uictrl">
				
				<div class="row top-edge">

					<div class="scores col-md-12">
						<h3 class="c-dblue">{{ uictrl.playerName }}: <span class="c-orange">{{ uictrl.score }}</span></h3>
							<!-- Experimental -->
							<div class="under-shadow">
								<span class="c-white">{{ uictrl.playerName }}:
									<span class="c-yellow">{{ uictrl.score }}</span>
								</span>
							</div>
							<!-- -->
					</div>

					<div class="row">
						
						<div class="player-a">

							<div class="summary">

								<span class="specials c-red">x{{ uictrl.specials }}</span>
								<span class="shields" ng-class="{ 'c-blue' : overdrive && !nearDeath, 'c-green' : !overdrive && !nearDeath, 'c-red' : nearDeath }">{{ uictrl.shields }}</span>

							</div>
							
						</div>

						<div class="player-b">

							<p class="controller-message">Insert second controller for multiplayer!</p>

						</div>
						
					</div>

				</div>

			</div>
			<!-- End directive -->

		</div>
		<div id="game"></div>
	</div>

	<!-- UI Core -->
	<script src="libs/bower_components/angular/angular.min.js"></script>
	<!-- <script src="ui/ui.js"></script> -->

	<!-- Game Core -->
	<script src="game/require.conf.js"></script>
	<script data-main="game/main" src="libs/bower_components/requirejs/require.js"></script>

</body>
</html>