@font-face {
  font-family: 'PixelFJ8pt1Normal';
  src: url('fonts/PixelFJ8pt1Normal.eot?#iefix') format('embedded-opentype'),
  url('fonts/PixelFJ8pt1Normal.woff') format('woff'),
  url('fonts/PixelFJ8pt1Normal.ttf') format('truetype'),
  url('fonts/PixelFJ8pt1Normal.svg#PixelFJ8pt1Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

.c-white {
	color: #fff;
}

.c-red {
	color: #d72723;
}

.c-green {
	color: #88e270;
}

.c-blue {
	color: #c0e1f1;
}

.c-dblue {
	color: #c0e1f1;
}

.c-yellow {
	color: #fedf33;
}

.c-orange {
	color: #fe8933;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	padding-top: 2em;
	background: #333;
	font: 85%/1.4em 'PixelFJ8pt1Normal', 'arial', 'serif';
}

div {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.container {
	width: 1152px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-md-12 {
	float: left;
	width: 100%;
}

#ui {
	text-align: left;
	color: #fff;
}

.top-edge {
	position: absolute;
	top: 1.4em;
	left: 0;
}

.bottom-edge {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1.2em 1em 0.4em;
	border-top: 4px solid #15355d;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,03081c+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #03081c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #000000 0%,#03081c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #000000 0%,#03081c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.under-shadow {
	height: 11px;
	top: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
}

.scores {
	position: relative;
}
.scores h3, .scores span {
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: lighter;
}

.summary { float: left; }
.summary span {
	width: 54px;
	height: 20px;
	display: block;
	padding: 6px 0 4px 34px;
	float: left;
	font-size: 23px;
}

.summary .specials {
	background: url('../resources/assets/ui/specials.png') no-repeat 0 0;
}

.summary .shields {
	background: url('../resources/assets/ui/shields.png') no-repeat 0 0;
}

.power {
	float: left;
	padding-bottom: 1em;
	padding-right: 1em;
	position: relative;
	text-transform: uppercase;
}

.power .power-heading {
	position: absolute;
	left: 5px;
	top: 0;
	font-size: 18px;
}

.power .power-scope {
	width: 200px;
	height: 48px;
	background: url('../resources/assets/ui/power.png') no-repeat 0 0;
}

.power .power-scope .power-value {
	height: 64px;
	display: block;
	background: url('../resources/assets/ui/power-bar.png') no-repeat 0 0;
	transition: all 0.2s ease;
}

.player-a {
	float: left;
	padding-top: 18px;
	padding-left: 16px;
}

.player-b {
	float: right;
	padding-right: 16px;
	color: #ccc;
}

.player-b .controller-message {
	padding-top: 0;
	text-align: right;
	color: #777;
}

.scores {
	margin: 0 16px;
}